{% extends "../index.html" %}
{% block page_script %}
<script>
</script>
{% endblock %}
{% block content %}
<!--begin:: Contents -->
<div id="kt_app_content" class="app-content  flex-column-fluid ">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container  container-xxl ">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::Col-->
            <div class="col-xl-12">

            </div><!--end::Col-->
        </div><!--end::Row-->
    </div><!--end::Content container-->
</div><!--end:: Contents -->
{% endblock %}
