{% extends "../index.html" %}
{% block page_script %}
<script>
    $("#dj_policy_table").DataTable();
</script>
{% endblock %}
{% block content %}
<!--begin:: Contents -->
<div id="kt_app_content" class="app-content  flex-column-fluid ">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container  container-xxl ">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::Col-->
            <div class="col-xl-12">
<!--begin:: Tables widget 13-->
<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold fs-3 mb-1">Policies</span>
			{#<span class="text-muted mt-1 fw-semibold fs-7">Over 500 orders</span> #}
		</h3>
        <div class="card-toolbar">
            <!-- <a href="#" class="btn btn-sm btn-light-primary"> 
                <i class="ki-duotone ki-plus fs-2"></i>New Notification</a> -->
        </div>
    </div>
    <!--end::Header-->

	<!--begin::Body-->
	<div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3" id="dj_policy_table">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold text-muted">
                        <th class="min-w-120px">Policy</th>
                        <th class="min-w-150px">Owner</th>
                        <th class="min-w-100px">End Date</th>
                        <th class="min-w-100px">LOB</th>
                        <th class="min-w-120px">Status</th>
                        <th class="min-w-100px text-end">Actions</th>
                    </tr>
                </thead>
                <!--end::Table head-->

                <!--begin::Table body-->
                <tbody>
                    {% for policy in policies %}
                    <tr>
                        <td>{{policy.number}}</td>
                        <td>{{policy.customer.name}}</td>
                        <td>{{policy.end_date}}</td>
                        <td>{{policy.lob}}</td>
                        <td><span class="badge badge-light-success">{{policy.status}}</span></td>
                        <td class="text-end">
                            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">View
                                <i class="ki-duotone ki-switch fs-2"><span class="path1"></span><span class="path2"></span></i></a>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
	</div>
	<!--begin::Body-->
</div>
<!--end:: Tables widget 13-->
            </div> <!--end::Col-->
        </div><!--end::Row-->
    </div><!--end::Content container-->
</div><!--end:: Contents -->
{% endblock %}