{% extends "../index.html" %}

{% block content %}
<div id="kt_app_content" class="app-content  flex-column-fluid ">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container  container-xxl ">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::Col-->
            <div class="col-xl-12">
                <!-- Upload Policy Notifications -->
                <div class="container-fixed"
                    <div class="container-fluid">
                        <form action="{%url 'upload_policy' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Upload Policy Notifications</h3>
                                </div>
                                <div class="card-body">
                                    <input class="file-input file-input-lg" type="file" name="policy_file"/>
                                </div>
                                <div class="card-footer justify-center">
                                    <input type="submit" value="Upload Policy Data" name="submit_policy_file">
                                    {% if add_count or update_count %}
                                        <p>Ploicies uploaded: added:{{add_count}}, updated: {{ update_count }}</p>
                                    {%elif error %}
                                        <p>Error: {{ error }}</a></p>
                                    {% endif %}
                                    {# <a class="btn btn-link" href="#">Example link</a> #}
                                </div>
                            </div>
                        </form>
                    </div>
                <div><!--end:: Upload Policy Notifications -->
            </div><!--end::Col-->
        </div><!--end::Row-->
    </div><!--end::Content container-->
</div><!--end:: Contents -->
{% endblock %}