{% extends "../index.html" %}
{% block content %}
<!--begin:: Contents -->
<div id="kt_app_content" class="app-content  flex-column-fluid ">

    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl ">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h4 style="margin-right: 10px;">Live Preview</h4>
                    <div class="form-check form-switch form-check-custom form-check-solid">
                        <input id="edit_mode" class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label" for="edit_mode">Edit</label>
                    </div>
                </div>
                <div class="row mt-5">
                    <div id="preview_container" class="col">
                        {% csrf_token %}
                        <h5 id="preview_name">{{form.name.value}}</h5>
                        {{ form.subject_line.label_tag }}
                        <div id="preview_subject" style="padding: 1rem; border: 1px solid #dee2e6;resize: none;"></div>
                        {{ form.body.label_tag }}
                        <div id="preview_body"
                             style="white-space: pre-wrap;padding: 1rem;border: 1px solid #dee2e6; min-height:300px"></div>
                    </div>
                    <div id="editor_container" class="col" style="display:none;">
                        <h4>Email Template Editor</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.subject_line.label_tag }} {{form.subject_line}}
                            {{ form.body.label_tag }} {{form.body}}
                            <div class="d-flex flex-row justify-content-center">
                                <button style="margin-right: 10px" class="btn btn-primary mt-3">Save Template</button>
                                <button class="btn btn-primary mt-3">Save As Copy</button>

                            </div>
                        </form>
                    </div>
                    <div id="template_list" class="col-2" style="display:block">
                        <div class="row">

                            <h4>Saved Templates</h4>
                            <ul id="templateList" class="list-group">
                                {% for t in templates %}
                                <li class="list-group-item template-link" data-id="{{ t.id }}">
                                    {{ t.name }} <br> Updated: {{t.updated_at}}
                                </li>
                                {% empty %}
                                <li class="list-group-item text-muted">No templates yet</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mt-5">
                            <h4>Variables</h4>
                            {% for var_name, var_value in variables.items %}
                            <div style="margin-top: 5px;" class="badge bg-primary">{{var_name}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .template-link {
            cursor: pointer;
            color: #007bff;
        }
        .template-link:hover {
            text-decoration: underline;
        }





    </style>
    {% load static %}
    <link href="{% static 'assets/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css' %}"/>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const context = JSON.parse('{{ variables_data|escapejs }}');
            const templateData = JSON.parse('{{ templates_data|escapejs }}');

            const edit_mode = document.getElementById('edit_mode');
            const editor_container = document.getElementById('editor_container');

            const preview_name = document.getElementById('preview_name');
            const preview_subject = document.getElementById('preview_subject');
            const preview_body = document.getElementById('preview_body');

            const textarea_subject = document.getElementById('template_subject_line');
            const textarea_body = document.getElementById('template_body');

            edit_mode.addEventListener('change', function () {
                if (this.checked) {
                    editor_container.style.display = 'block';
                } else {
                    editor_container.style.display = 'none';
                }
            });
            textarea_subject.addEventListener('input', () => {
                preview_subject.innerHTML = renderTemplate(textarea_subject.value, context);
            });
            textarea_body.addEventListener('input', () => {
                preview_body.innerHTML= renderTemplate(textarea_body.value, context);
            });

            // Trigger initial render
            preview_subject.innerHTML = renderTemplate(textarea_subject.value, context);
            preview_body.innerHTML = renderTemplate(textarea_body.value, context);


            {% verbatim %}

            function renderTemplate(template, context) {
                return template.replace(/{{\s*(\w+)\s*}}/g, function (_, key) {
                    const currentValue = context[key];
                    if(currentValue===null){
                        return `<span style="color:red;">Missing: {{${key}}}</span>`
                    }
                    return context[key] !== undefined ? context[key] : `<span style="color:red;">Invalid: {{${key}}}</span>`;
                });
            }

            {% endverbatim %}
            document.querySelectorAll('.template-link').forEach(item => {
            item.addEventListener('click', function () {
                const id = this.dataset.id;
                const selected = templateData[id];
                textarea_subject.value = selected.subject_line;
                textarea_body.value = selected.body;
                preview_name.innerHTML = selected.name;
                preview_subject.innerHTML = renderTemplate(textarea_subject.value, context);
                preview_body.innerHTML = renderTemplate(textarea_body.value, context);
            });
        });

        });













    </script>
</div>
{% endblock %}