{% extends "../index.html" %}
{% block content %}
<!--begin:: Contents -->
<div id="kt_app_content" class="app-content  flex-column-fluid ">

    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl ">
        <div class="card">
            <div class="card-body">
                <div class="custom-control custom-switch">
                    <input id="edit_mode" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="edit_mode">Edit</label>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Live Preview</h4>
                        <h6 style="margin-top:1lh;">Template Name</h6>
                        <textarea disabled rows="1" id="preview_subject"
                                  style=""></textarea>

                        <div id="preview_body" style="margin-top:1lh;"></div>
                    </div>
                    <div id="editor_container" class="col" style="display:block;">
                        <h4>Email Template Editor</h4>
                        <h5>Variables:</h5>
                        <div>

                            {% for var_name, var_value in variables_dict.items %}
                            <span class="badge bg-primary">{{var_value}}({{var_name}})</span>
                            {% endfor %}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.name.label_tag }}
                            <textarea id="template_name" name="name" style="resize:none; margin-bottom:1lh"
                                      rows="1" class="form-control">{{ form.name.value }}</textarea>
                            {{ form.subject_line.label_tag }}
                            <textarea id="template_subject"
                                      name="subject_line"
                                      style="resize: none; margin-bottom:1lh;"
                                      rows="1"
                                      class="form-control">{{ form.subject_line.value }}</textarea>
                            {{ form.body.label_tag }}
                            <table>
                                <tr>
                                    <td>
                                        <textarea id="template_body" name="body" style="min-height: 300px"
                                                  class="form-control">{{ form.body.value }}</textarea>
                                    </td>
                                </tr>
                            </table>
                            <button class="btn btn-primary mt-3">Save Template</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #preview_subject {
            background-color: #f8f9fa;
            padding: 1rem;
            border: 1px solid #dee2e6;
            resize: none;
        }

        #preview_body {
            white-space: pre-wrap;
            background-color: #f8f9fa;
            padding: 1rem;
            height: 500px;
            border: 1px solid #dee2e6;
        }


    </style>
    {% load static %}
    <script src="{% static '/assets/plugins/custom/tinymce/tinymce.bundle.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const context = JSON.parse('{{ variables|escapejs }}');
            const edit_mode = document.getElementById('edit_mode');
            const editor_container = document.getElementById('editor_container');

            const textarea_subject = document.getElementById('template_subject');
            const textarea_body = document.getElementById('template_body');
            const preview_subject = document.getElementById('preview_subject');
            const preview_body = document.getElementById('preview_body');

            tinymce.init({
                selector: '#template_body',
                // content_css: "{% static '/assets/css/style.bundle.css' %}",
                context_css: 'writer',
                // inline: true,
                toolbar: 'undo redo | styleselect styles | bold italic forecolor | link image emoticons | align | mergetags inserttemplate | spellcheckdialog a11ycheck | removeformat |code markdown',
                toolbar_sticky: true,
                menubar: false,
                visual: false,
                link_target_list: false,
                formats: {
                    h1: {block: 'h1', styles: {fontSize: '24px', color: '#335dff'}},
                    h2: {block: 'h2', styles: {fontSize: '20px'}},
                    largetext: {block: 'p', styles: {fontSize: '20px'}},
                    calltoaction: {selector: 'a',
                        styles: {
                            backgroundColor: '#335dff',
                            padding: '12px 16px',
                            color: '#ffffff',
                            borderRadius: '4px',
                            textDecoration: 'none',
                            display: 'inline-block'
                        }
                    }
                },
                style_formats: [
                    {title: 'Paragraph', format: 'p'},
                    {title: 'Heading 1', format: 'h1'},
                    {title: 'Heading 2', format: 'h2'},
                    {title: 'Large text', format: 'largetext'},
                    {title: 'Button styles'},
                    {title: 'Call-to-action', format: 'calltoaction'},
                ],
                plugins : "advlist autolink link image lists charmap print preview code markdown importcss",

                setup: function (editor) {
                    editor.on('keyup change', function () {
                        preview_body.innerHTML = renderTemplate(editor.getContent(), context);
                    });
                }
            });


            edit_mode.addEventListener('change', function () {
                if (this.checked) {
                    editor_container.style.display = 'block';
                } else {
                    editor_container.style.display = 'none';
                }
            });
            textarea_subject.addEventListener('input', () => {
                preview_subject.innerHTML = renderTemplate(textarea_subject.value, context);
            });
            // textarea_body.addEventListener('input', () => {
            //      preview_body.innerHTML= renderTemplate(textarea_body.value, context);
            // });
            // Trigger initial render
            preview_subject.innerHTML = renderTemplate(textarea_subject.value, context);
            preview_body.innerHTML = renderTemplate(textarea_body.value, context);


            {% verbatim %}

            function renderTemplate(template, context) {
                return template.replace(/{{\s*(\w+)\s*}}/g, function (_, key) {
                    const currentValue = context[key] || '';
                    return context[key] !== undefined ? context[key] : `<span style="color:red;">{{${key}}}</span>`;
                });
            }

            {% endverbatim %}

            // function renderDropdown(key, currentValue) {
            //     return `
            //         <select class="form-select form-select-sm d-inline variable-input" data-key="${key}" style="width:auto; display:inline-block;">
            //             ${Object.entries(context).map(([k, v]) => {
            //         const selected = k === key || v === currentValue ? 'selected' : '';
            //         return `<option value="${v}" ${selected}>${v}</option>`;
            //     }).join('')}
            //         </select>
            //     `;
            // }

        });


    </script>

</div>
{% endblock %}