{% extends "../index.html" %}
{% block content %}
<!--begin:: Contents -->
<div id="kt_app_content" class="app-content  flex-column-fluid ">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl ">
<!--begin::Alert-->
<div class="alert alert-primary d-flex align-items-center p-5">
    <!--begin::Wrapper-->
    <div class="d-flex flex-column">
        <!--begin::Title-->
        <p><b>Selected Policy</b>: [policy_num], <b>Owner</b>: AAAAAAAAA AAAAAAAA, <b>Due Date:</b> 2025-05-07</p>
        <!--end::Title-->

        <!--begin::Content-->
        <span>The alert component can be used to highlight certain parts of your page for higher content visibility.</span>
        <!--end::Content-->
    </div>
    <!--end::Wrapper-->
</div>
<!--end::Alert-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form>
                <p>
                <input type="text" value="Subject: Reminder: Your Insurance Policy is Due for Renewal"></input></p>
                <textarea cols="80" rows="30">               
Dear {{customer_name}},

We hope this message finds you well. This is a friendly reminder that your insurance policy with {{insurance_company_name}}, policy number {{policy_number}}, is set to expire on {{expiration_date}}.

To ensure continued coverage without interruption, we recommend renewing your policy before the expiration date. Renewing now will give you peace of mind and avoid any potential gaps in coverage.

Policy Details:

Policy Type: {{policy_type}}

Renewal Due Date: {{expiration_date}}

Premium Amount: {{premium_amount}}
{% if renewal_link %}
Renew Now: {{renewal_link}}
{% endif %}
If you have any questions about your coverage, or if you’d like to make changes to your policy before renewal, please don’t hesitate to reach out. You can contact us at {{contact_phone_number}} or {{contact_email_address}}.

Thank you for choosing {{insurance_company_name}}. We appreciate your continued trust.

Warm regards,
{{agent_full_name}}
{{agent_title}}
{{insurance_company_name}}
{{contact_information}}
                </textarea>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}